.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  position: relative;
  padding: 20px 40px;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
}

.storeWaveDecoration {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 172px;
  width: 1241px;
  border-radius: 6px;
  transform: translateX(-50%);
}

.storeContentWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBadgeItem:not(:last-child) {
  margin-bottom: 10px;
}
