.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  padding: 32px 20px;
  border-radius: 6px;
  background-color: #fff;
}

.navigationMenu {
  display: flex;
}

.navigationMenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  position: relative;
  width: 98px;
  border-radius: 6px;
  border-right: 1px solid #c8d4d6;
  background-color: #f6f6f6;
}

.navigationMenuItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 98px;
  height: 8px;
  background: #2e9344;
  border-radius: 6px;
  opacity: 0;
  transform: translateX(-50%) scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navigationMenuItem:hover::before,
.navigationMenuItem:focus::before {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.navigationMenuItem:hover,
.navigationMenuItem:focus {
  background-color: #fff;
  box-shadow: 0 1px 12px 0 rgba(10, 98, 106, 0.15);
}

.navigationMenuLinkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

.navigationMenuLinkText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #192a32;
}
