.container {
  background-color: var(--dark);
}

.navContainer {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.pageNav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.burgerButton {
  position: absolute;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--light);
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
}

.burgerButton svg {
  stroke: var(--default-white);
  width: 24px;
  height: 24px;
}

.navMenu {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.navMenuOpen {
  display: flex;
}

.iconIPhone,
.iconGift {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}

.navOptions {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.navOptionsOpen {
  display: flex;
}

@media (min-width: 440px) {
  .navContainer {
    max-width: 768px;
  }

  .navOptions {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .navOptionsOpen {
    display: flex;
  }
}

@media (min-width: 1240px) {
  .burgerButton {
    display: none;
  }

  .mainNavWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 16px 0;
  }

  .pageNav {
    flex-direction: row;
  }

  .burgerButton {
    display: none;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 0;
  }

  .navOptions {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
