:root {
  --dark: #192a32;
  --blue-extra-dark: #192a32;
  --blue-darker: #141e55;
  --background-dark: rgba(20, 30, 85, 0.6);
  --blue-dark: #1a3769;
  --blue-lighter: #80bef8;
  --blue-light: #dfe8f6;
  --grey-darker: #777777;
  --grey-dark: #7c7c7c;
  --grey-blue: #e2eaf7;
  --light-grey: #f6f6f6;
  --green-gray-light: #c3d5cf;
  --lightest: #fcfcfc;
  --default-white: #ffffff;

  --green: #2e9344;
  --yellow: #ffc512;
  --orange: #ec622b;

  --box-shadow: 0 4px 18px 0 rgba(14, 24, 17, 0.25);
}

body {
  font-family: 'Poppins', sans-serif;
  color: #192a32;
  background-color: var(--blue-darker);
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
