.section {
  width: 295px;
  padding-bottom: 20px;
  padding-top: unset;
}

.sidebarEvents {
  padding: 20px 22px;
  border-radius: 6px 6px 0 0;
  background-color: #192a32;
}

.eventButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 14px 4px 4px;
  gap: 14px;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
}

.iconCirclePlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: #fcfcfc;
}

.iconPlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: #fcfcfc;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 0px;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

.sidebarMenuItemWrap {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 12px;
}

.sidebarMenuItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: #7c7c7c;
}

.sidebarMenuItem:hover,
.sidebarMenuItem:focus {
  background-color: #192a32;
}
