.footerSection {
  padding-top: 10px;
}

.container {
  padding: 35px 20px;
  border-radius: 6px;
  background-color: #fff;
}

.footerContextWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.footerResponsiblySymbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #192a32;
  border-radius: 50%;
}

.footerContext:first-of-type {
  width: 782px;
}

.footerContext:last-of-type {
  margin-bottom: 26px;
}

.footerMenu{
	display: flex;
	justify-content: space-between;
}
