/* ____________________________Mobile styles____________________________ */
@media screen and (min-width: 320px) {
  .section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    position: relative;
    padding: 15px 16px 17px 16px;
    border-radius: 6px;
    background-color: var(--background-dark);
    background-image: linear-gradient(
        var(--background-dark),
        var(--background-dark)
      ),
      url(/images/hero/stadium-1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .appWaveDecoration {
    position: absolute;
    top: -3.5%;
    left: 50%;
    height: 385px;
    width: 320;
    border-radius: 6px;
    transform: translateX(-50%);
  }

  .appCartsSymbDecoration {
    position: absolute;
    bottom: 20%;
    right: 0%;
    width: 400px;
    height: 102px;
  }

  .appBetsDecoration {
    position: absolute;
    bottom: -2%;
    right: 0%;
    width: 115px;
    height: 151px;
  }

  .appHeroMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .appHeroMenuItem {
    position: relative;
  }

  .appHeroMenuItem:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 1.1px;
    height: 15px;
    background-color: var(--default-white);
    transform: translateY(-50%);
  }

  .appHeroLink {
    font-weight: 400;
    font-size: 16px;
    color: var(--default-white);
    opacity: 0.84;
  }

  .active {
    color: var(--default-white);
    opacity: 1;
  }

  .appHeroContentWrap {
    position: relative;
    z-index: 777;
  }

  .appHeroTitle {
    width: 300px;
    margin-bottom: 16px;
    font-size: 24px;
  }

  .appHeroCustomBtn {
    margin-bottom: 10px;
    border: 1px solid var(--default-white);
  }

  .appHeroLegalDisclaimer {
    padding-left: 57px;
    font-weight: 400;
    font-size: 6px;
    line-height: 1.5;
    color: var(--default-white);
  }
}

/* ____________________________Tablet styles____________________________ */
@media screen and (min-width: 768px) {
  .container {
    padding: 45px 26px 47px 26px;
  }

  .appCartsSymbDecoration {
    height: 202px; width: 650px;
  }

  .appBetsDecoration {
    bottom: 2%;
    right: 12%;
    width: 255px;
    height: 351px;
  }

  .appHeroTitle {
    width: 629px;
    font-size: 48px;
  }
}
