/* ____________________________Mobile styles____________________________ */
@media screen and (min-width: 320px) {
  .section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 6px;
    background-color: var(--default-white);
    overflow: hidden;
  }

  .bonusWaveDecoration {
    position: absolute;
    top: -50%;
    left: 50%;
    height: 384px;
    width: 925px;
    border-radius: 6px;
    transform: translateX(-50%);
  }

  .bonusCircleDecoration {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 100px;
    height: 80px;
  }

  .bonusCardDecoration {
    position: absolute;
    bottom: 30%;
    right: -5%;
    width: 150px;
    height: 150px;
  }

  .bonusContent {
    position: relative;
    z-index: 2;
  }

  .bonusTitle {
    width: 300px;
    font-size: 22px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .bonusText {
    margin-bottom: 16px;
    width: 200px;
    font-size: 15px;
  }

  .bonusCustomBtn {
    border: 1px solid var(--default-white);
  }

  .bonusDescriptionContainer {
    padding: 20px 20px;
    border-radius: 6px;
    background-color: var(--default-white);
  }

  .bonusDescriptionTitle {
    margin-bottom: 10px;
  }
}

/* ____________________________Tablet styles____________________________ */
@media screen and (min-width: 768px) {
  .container {
    padding: 90px 20px;
  }

  .bonusWaveDecoration {
    top: 1px;
  }

  .bonusCircleDecoration {
    right: 141px;
    width: 319px;
    height: 238px;
  }

  .bonusCardDecoration {
    bottom: 27px;
    width: 353px;
    height: 329px;
  }

  .bonusTitle {
    width: 494px;
    font-size: 40px;
    margin-bottom: 16px;
  }

  .bonusText {
    width: 494px;
    font-size: 32px;
  }

  .bonusDescriptionContainer {
    padding: 32px 20px;
  }

  .bonusDescriptionTitle {
    margin-bottom: 16px;
  }
}
